body#dark-bg {
    background-color: #CFB997 !important;
}

body#light-bg {
    background-color: #FEDEFF !important;
}

.navbar {
    background-image: linear-gradient(to bottom, #567189, #7B8FA1);
}

.icon-container img {
    width: 145px;
    height: 48px;
}

.container-bar {
    display: flex;
    justify-content: space-between;
}

.user-icon {
    padding-top: 3px;
    margin-right: 10px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF !important;
    font-size: 20px !important;
    text-shadow: 2px 2px 3px #000000;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    margin-top: 7%;
    margin-left: 5%;
}

.text-wrapper {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.list-container {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    padding-left: 13%;
    list-style: none;
    font-size: 25px;
}

.pt {
    margin: 5px 0px;
    display: flex;
    justify-content: flex-start;
}

.bullet-img {
    width: 65px;
    height: 65px;
}

.points {
    padding: 22px 0px 0px 20px;
}

.login-button {
    margin-left: 20%;
    border-radius: 20px;
    padding: 7px 20px;
    background: linear-gradient(to right, #0162C8, #55E7FC);
    border: none;
}

.login-button:hover {
    background-color: black;
    opacity: 80%;
}

#todo-img {
    margin-top: 5%;
    margin-right: 3%;
    height: 500px;
    width: 600px;
}

.block-container {
    margin-top: 100px;
    max-width: 600px;
    margin: auto;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Rajdhani', sans-serif;
}

.header-bar {
    background-image: linear-gradient(to bottom right, #567189, #7B8FA1, #FAD6A5);
    padding: 10px;
    margin-top: 50px;
}

.header-bar h1 {
    margin: 10px;
    padding: 10px 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.body-block {
    padding: 20px;
}

input[type=text], input[type=password],
textarea {
    border: 2px solid #567189 !important;
    border-radius: 5px;
    padding: 8px;
    width: 95%;
}

.button-item {
    border: 3px solid #567189;
    padding: 5px 20px;
    margin: 10px 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

.additional-text {
    margin-top: 12px;
}

.back-link {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.register-label {
    margin-bottom: 10px;
}

.detail-header-bar {
    background-image: url('../Images/task-bck.png');
    padding: 10px;
    margin-top: 50px;
}

.detail-header-bar h1 {
    margin: 10px;
    padding: 10px 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.edit-link {
    text-decoration: none;
    margin-left: 400px;
    border: 3px solid #567189;
    background-color: #CED5ED;
    color: #000000;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.section {
    padding: 10px;
    margin-bottom: 5px;
}

.inline-container {
    display: flex;
    justify-content: space-between;
}

.icon-class {
    padding-top: 6px;
    margin: 0px 50px;
}

.created-container {
    font-size: 12px;
    padding-top: 10px;
}

.search-button {
    border: 3px solid #CFCFDE !important;
    color: #CFCFDE !important;
    padding: 5px 20px;
    margin: 0px 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Kanit', sans-serif !important;
}

.search-button:hover {
    background-color: #4287F5 !important;
    color: #233A5E !important;
}

.information-div {
    padding: 20px;
    text-align: center;
}

#welcome-user {
    height: 300px;
    width: 400px;
}

.greeting-user {
    font-family: 'Raleway', sans-serif;
}

.incomplete-status {
    font-family: 'Nunito', sans-serif;
}

#arrow {
   padding-top: 50px;
   height: 100px;
   width: 200px;
}

.item-addtask-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

#my-items {
    padding-top: 25px;
    font-family: 'Noto Sans NKo', sans-serif;
}

.add-link {
    text-decoration: none;
    color: #3D5ABA;
    text-shadow: 2px 2px 6px #5C6274;
    font-size: 42px;
}

.item-wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid #567189;
    border-radius: 20px;
    background-color: #FAD6A5;
    padding: 5px 60px 0px 60px;
    margin: 10px 40px;
    font-family: 'Rajdhani', sans-serif;
}

.item-details {
    display: flex;
}

.task-complete-status {
    padding-top: 4px;
}

.item-heading {
    font-size: 35px;
    text-decoration: none;
}

.priority-icon {
    padding-top: 10px;
    padding-left: 20px;
}

.delete-icon {
    padding-top: 30px;
    padding-right: 50px;
}

.no-item {
    font-family: 'Raleway', sans-serif;
    padding-left: 50px;
}

.delete-text {
    font-size: 22px;
    padding-left: 20px;
}
